
h1{
    text-align: center;
    font-size: 60px;
    font-family:Verdana, sans-serif;
    color: #eeeeee;
    text-shadow: 3px 5px 5px #656B79; 
}
body {
    background-image: url(img/bg.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment : fixed;
    background-size : cover;
    background-color : #515151;
}
a{
    text-decoration: none;
}

.link img:hover {
    opacity: 0.6;
}
.jieshao{
    text-align: center;
}
html .sakana-box{
    position: fixed;
    right: 0;
    bottom: 0;
    transform-origin: 100% 100%;
}
.card {
    display: inline-block;
    width: 23%;   
    height: 23%;
    margin: 10px; 
    }  
.card img { 
    width: 100%;
    height:max-content;
    border-radius: 50px;
    } 
.zoom{
    transform: scale(1.5); /* （150% 缩放 - 注意：如果缩放太大，它会超出视口） */
    }